.Header {
  margin-bottom: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 15vh;
  font-size: 25px;
  line-height: 35px;
  font-weight: bold;
  color: crimson;
  text-shadow: 1px 2px 3px black;
  text-transform: capitalize;
  background: rgba(161,21,207, 0.2);
}